.menudiv{
	font-size: 12px;
	
}
.menudiv > ul{
	list-style-type: none;
}
.menudiv>ul>li{
	margin-top:5px;
}

.menudiv ul >li >a {
	text-decoration: none;
}
body.sidebar{ padding:10px 10px 0 5px;}

.searchtool{
	padding: 5px;
	background-color: red;
}